.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
  padding-bottom: 2.5rem;   
}

.mainContent{
  width: 90vw;
  margin: 0 auto;
  padding: 30px 20px;
  min-height: 100vh;
  /* min-height: calc(100vh - 211px - 58px); */
}

.d-block w-100{
  width:100%;
  position: fixed;
  
}

